*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");



.container{
    width: 60%;
    padding: 45px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.row{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
}
.col-md-7{
    border-radius: 10px;
    border-color: #fdfafa;
    background: linear-gradient(to right, #070004 0%, #2c0117 100%);
    color: rgb(250, 250, 247);
    padding: 20px;
}
.col-md-5{
     background: #171812; /*background: linear-gradient(to left, #066483 0%, #4e0429 100%); */
    padding: 20px;
    color: rgb(253, 249, 249);
}
.form-control {
    height: 52px;
    background: white;
    color: #0f0303;
    font-size: 14px;
    border-radius: 10px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.link-a:hover{
    color: rgb(201, 105, 16);
}

.form-control:hover{
    border: 5px solid #0df5fd;
}
.bi{
    font-size: 20px;
}
.bi:hover{
    
    font-size: 21px;
    color: rgb(201, 105, 16);
}
.d-flex p{
    font-size: 18px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font-label{
    font-weight: bold;
}


@media only screen and (max-width:600px){
    .container{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 90%;
    }
}